   

/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Monosphere');
@import url('https://fonts.googleapis.com/css2?family=Quicksand');


html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #000000; /* this targets any h1 elements*/
  --header-color:    #000000;
  --body-color:      #000000;
  --aside-color:     #000000;
  --fig-cap-color:   #000000;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    Montserrat; 
  --mono-font:       monospace;
  --body-font:       Montserrat; 
  --navbar-font:     Montserrat;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   #000000; 
  --body-size:       0.8rem;
  --body-color:      #000000;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   #000000;
  --text-size:       0.8em;
  --text-color:      #000000;
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header { 
  --title-size:       18px;
  --text-color:       #000000;
  --text-size:        19px;
  --hover-color:      #0095eb; 
  --bkgd-color:       #F5F2F2; 
}

.distill-site-footer {
  --text-color:       #000000;
  --text-size:        15px;
  --hover-color:      #0095eb;
  --bkgd-color:       #F5F2F2; 
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below */

/* -- the class, `distill-site-nav` addresses BOTH the header and footer (see https://rstudio.github.io/distill/) -- */ 
.distill-site-nav{
  color: rgba(255, 255, 255, 1.0); 
  background-color: #F5F2F2; 
  font-size: 19px;
  font-weight: 300;
}

/* -- header letter spacing, font weight, color -- */
d-article h1 {
    grid-column: text;
    font-size: 40px;
    font-weight: 360;
    line-height: 1.1em;
    margin: 0 0 0.5rem;
    padding-top: 30px;
}


d-article h2 {
    grid-column: text;
    font-size: 32px;
    font-weight: 200;
    line-height: 1.1em;
    margin: 0 0 0.5rem;
    padding-top: 30px;
}

d-article h3 {
    grid-column: text;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1em;
    margin: 0 0 0.5rem;
    padding-top: 20px;
    padding-bottom: 15px;
}

d-article h4 {
    grid-column: text;
    text-transform: none;
    font-style: normal;
    font-size: 18px;
    line-height: 1.1em;
    margin: 0 0 0.5rem;
    padding-top: 20px;
    padding-bottom: 15px;
}

/* -- change color of inline code -- */
code {
  color: #000000;
  background-color: #FFFFFF;
}

/* body color */

body {
  background-color: #FFFFFF;
}

/* Everything below this should relate to the Portfolio page cards */

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.card {
    color: #474747;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; 
    margin: 16px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.card-body {
  padding: 2px 16px;
}

.card-body p {
  line-height: 1.25em;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.card-body h4 {
  line-height: 1.25em;
  font-weight: 300;
  padding-top: 15px;
  padding-bottom: 15px;
}

.card-body a {
  border-bottom: none;
}

.card-body a:hover {
  border-bottom: none;
}

.card-body button {
  color: white;
  font: Montserrat;
  font-size: 16px;
  font-weight: 200;
  background-color: #0095eb;
  border-radius: 12px;
  border: none;
  padding: 12px 16px;
  text-align: center;
  transition-duration: 1s;
}

.card-body button:hover {
  background:#9ecde8;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 40%;
}

/*
a:hover {
  color:#0095eb;
}
*/

