   

/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Monosphere');
@import url('https://fonts.googleapis.com/css2?family=Quicksand');


html {
  /*-- Main font sizes --*/
  --title-size:      40px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #000000; /* this targets any h1 elements*/
  --header-color:    #000000;
  --body-color:      #000000;
  --aside-color:     #000000;
  --fig-cap-color:   #000000;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    Montserrat; 
  --mono-font:       monospace;
  --body-font:       Montserrat; 
  --navbar-font:     Montserrat;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   #000000; 
  --body-size:       0.8rem;
  --body-color:      #000000;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   #000000;
  --text-size:       0.8em;
  --text-color:      #000000;
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header { 
  --title-size:       18px;
  --text-color:       #000000;
  --text-size:        19px;
  --hover-color:      #0095eb; 
  --bkgd-color:       #FFFFFF;
  box-shadow: 0px 0px 16px 0.5px rgb(0, 0, 1, 0.06);
}

.distill-site-footer {
  --text-color:       #000000;
  --text-size:        15px;
  --hover-color:      #0095eb;
  --bkgd-color:       #F5F2F2; 
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below */

/* -- the class, `distill-site-nav` addresses BOTH the header and footer (see https://rstudio.github.io/distill/) -- */ 
.distill-site-nav {
  color: rgba(255, 255, 255, 1.0); 
  background-color: #F5F2F2; 
  font-size: 19px;
  font-weight: 300;
  position: fixed;
  top: 0; 
}

.nav-right a {
  color: #000000;
}

.nav-right a:hover {
  color: #0095eb;
}

/* -- header letter spacing, font weight, color -- */
d-article h1 {
  grid-column: text;
  font-size: 40px;
  font-weight: 360;
  line-height: 1.1em;
  margin: 0 0 0.5rem;
  padding-top: 30px;
}


d-article h2 {
  grid-column: text;
  font-size: 32px;
  font-weight: 200;
  line-height: 1.1em;
  margin: 0 0 0.5rem;
  padding-top: 30px;
}

d-article h3 {
  grid-column: text;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.1em;
  margin: 0 0 0.5rem;
  padding-top: 20px;
  padding-bottom: 15px;
}

d-article h4 {
  grid-column: text;
  text-transform: none;
  font-style: normal;
  font-size: 18px;
  line-height: 1.1em;
  margin: 0 0 0.5rem;
  padding-top: 20px;
  padding-bottom: 15px;
}

d-article a {
  border-bottom: none;
}

d-article a:hover {
  border-bottom: none;
}

/* -- change color of inline code -- */
code {
  color: #000000;
  font-family: monospace;
  font-weight: 600;
  background-color: #FFFFFF;
}

/* body color */

body {
  background-color: #FFFFFF;
}

.d-title h1 {
  font-weight: 500;
  font-size:;
  text-align: center;
}

/* change button hover color on About Me page */

.btn-outline-dark:hover {
  background-color: #0095eb;
  border-color: #0095eb;
}

/* Change body link styles throughout */

a, 
a:hover {
  text-decoration: none;
  color: #0095eb;
}

p a {
  color: #0095eb;
  text-decoration: none;
  background-image: linear-gradient(#0095eb, #0095eb);
  background-size: 0% 0.07em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

p a:hover,
p a:focus,
p a:active {
  background-size: 100% 0.07em;
}

li a {
  color: #0095eb;
  text-decoration: none;
  background-image: linear-gradient(#0095eb, #0095eb);
  background-size: 0% 0.07em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

li a:hover,
li a:focus,
li a:active {
  background-size: 100% 0.07em;
}

.categories li>a:hover {
  border-bottom: none;
}

.list-inline-item a {
  background-image: none;
}

.posts-list a:hover {
  color: #000000;
}

/* Everything below this should relate to the Portfolio page cards */

d-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.project-page-wrapper {
  width: 75%;
}

.project-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0.5em;
}

.project-card-wrapper {
  width: 50%;
  height: 100%
}

.card {
  color: #474747;
  background-color: #FFFFFF;
  border: 1px solid #e0e0e0;
  transition: 0.3s;
  border-radius: 10px; 
  text-decoration: none;
  display: flex;
  flex-direction: row;
  max-width: 95%;
  margin: auto;
}

.card-body {
  padding: 16px 16px;
}

.card-body p {
  line-height: 1.25em;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.card-body h3 {
  font-weight: 800;
  padding-top: 15px;
  padding-bottom: 0px;
  margin: 0 0 0;
}

.card-body h4 {
  font-size: 16px;
  line-height: 1.25em;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0 0 0;
}

.card-body a,
.card-body a:hover {
  border-bottom: none;
  color: #FFFFFF
}

.card-body button {
  color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 200;
  background-color: #0095eb;
  border-radius: 12px;
  border: none;
  padding: 12px 16px;
  text-align: center;
  transition-duration: 1s;
  display: block;
}

.card-body button:hover {
  background:#9ecde8;
}

.card-img-top {
  object-fit: cover;
  padding: 20px 20px;
  border-radius: 30px;
  max-width: 300px !important;
  aspect-ratio: 1 / 1;
}

@media(max-width: 1440px) {
.project-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.project-card-wrapper {
  width: 100%;
  height: 50%;
  margin: 0.5em;
}
}

@media(max-width: 630px) {
.project-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


.project-card-wrapper {
  width: 100%;
  height: 50%;
}

.card {
  flex-direction: column;
  margin-bottom: 1em;
}

.card-img-top {
  flex-shrink: 0.5;
}

.h3 {
  font-size: 20px;
}

.h4,
.p {
  font-size: 14px;
}

.d-title h1 {
  font-size: 24px;
}
  
}


/* Update overall layout (body width) */

/*@media(min-width: 1180px) {
    .base-grid,
    distill-header,
    d-title,
    d-abstract,
    d-article,
    d-appendix,
    distill-appendix,
    d-byline,
    d-footnote-list,
    d-citation-list,
    distill-footer {
      grid-template-columns: [screen-start] 0.5fr [page-start kicker-start] 30px [middle-start] 50px [text-start kicker-end] 100px 100px 100px 100px 100px 100px 100px 100px [text-end gutter-start] 30px [middle-end] 50px [page-end gutter-end] 0.5fr [screen-end];
      grid-column-gap: 20px;
    }
*/

